.about-section {
    padding: 80px 0;
}

.about-content {
    width: 70%;
}

.about-content--title {
    color: var(--mainColor);
    font-size: 50px;
}

.about-content--text {
    color: var(--mainColor);
    font-size: 20px;
}