.experence-section {
    padding: 60px 0;
}

.experence-title {
    font-size: 30px;
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 25px;
}

.experence-item {
    color: var(--mainColor);
}

.experence-item--title {
    margin: 18px 0;
    font-size: 20px;
}

.experence-item--pozition {
    font-size: 18px;
}

.experence-item--text {
    margin: 12px 0;
    font-size: 18px;
}

.experence-item--time {
    font-size: 18px;
}

.experence-item hr {
    margin: 20px 0;
}