header {
    width: 100%;
    position: fixed;
    background-color: rgba(54, 54, 54, 0.9);
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-logo {
    color: var(--mainColor);
    font-size: 22px;
}

.nav {
    width: 100%;
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: var(--mainColor);
    border-bottom: 2px solid transparent;
    transition: all .3s ease-in-out;
    font-size: 18px;
}

.nav-link:hover {
    border-color: red;
}

.header-settings--language {
    width: 50px;
    appearance: none;
    text-align: center;
    background-color: transparent;
    padding: 6px 12px;
    color: var(--mainColor);
    border-radius: 8px;
    font-size: 18px;
}