.skills-section {
    padding: 60px 0;
}

.skills-title {
    text-align: center;
    font-size: 30px;
    color: var(--mainColor);
    margin-bottom: 30px;
}

.skills-box-title {
    color: var(--mainColor);
}

.skills-box-list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-box-list li {
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    padding: 6px 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
}
.skills-box-list li img {
    width: 30px;
    margin-right: 8px;
}